@use 'variable' as *;
@use 'mixin' as *;

body {
    &.archive, &.category {
        #primary {
            margin-bottom: 4em;
        }
        #main {
            background-color: rgba(#fff, 0.7);
            padding: 5%;
            border-radius: 5px;
            box-shadow: 10px 0 20px rgba(#000, 0.03);
            @include md() {
                padding: 30px 16px;
            }
            article, .ast-article-inner {
                background-color: transparent;
                box-shadow: 0 0 0 transparent;
            }
            .ast-blog-featured-section {
                margin-bottom: 15px;
            }
            .entry-header {
                margin-bottom: 10px;
            }
            .entry-title {
                @include word-count(2);
                margin-bottom: 10px;
            }
            article {
                &:hover {
                    .entry-title a {
                        color: $primary;
                    }
                }
                @include md() {
                    padding: 15px 0px;
                }
            }
            .ast-excerpt-container {
                @include word-count(2);
            }
        }

        .pagination {
            .nav-links {
                display: flex;
                justify-content: start;
                gap: 10px;
                .page-numbers {
                    border-radius: 50px;
                    color: $text;
                    &:hover {
                        color: $primary;
                    }
                    &.current {
                        background-color: $primary;
                        color: #fff;
                    }
                }
            }
        }
        
    }
}
