// :root {
//     --primary: var( --e-global-color-astglobalcolor1 );
//     --primary-h: #aa585899;
//     --second: var( --e-global-color-astglobalcolor0 );
//     --second-h: #76212199;
//     --text: var(--e-global-color-astglobalcolor2);
//     --text-l: var(--e-global-color-astglobalcolor3);
//     --text-d: var( --e-global-color-astglobalcolor8 );
//     --text-w: var( --e-global-color-astglobalcolor4 );

//     // --bg: var( --e-global-color-astglobalcolor4 );

// }


$primary: #A0502D;
$second: #ED500C;
$acc: #FFCC66;
$text: #4A4A4A;
$text-2: #FEFEFE;
$bg-d: #F0E6C5;
$bg: #FAF5E5;

